*{
    direction: rtl;
}

@font-face{
    font-family: 'naskh';
    src: url('./Far_Naskh.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}
.hello {
    font-family: 'naskh';
    color:red;
}

.imgFarshid{
    background-color:#f4a30f;
}